.consultation {
  min-height: 680px;
  padding: 100px 0 92px;
  background: url(../img/background/consultation-bg.png) center (center/cover) no-repeat;

  &__descr {
    max-width: 425px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #ffffff;
  }

  .error {
    border: 1px solid #ff0000;
  }

  label.error {
    border: none;
    margin-bottom: 15px;
    text-align: center;
    color: #ffffff;
  }
}
