.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 35px 40px 40px;

  &__close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    color: #c70101;
    cursor: pointer;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 19px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center;
  }

  &__descr {
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #0d0d0d;
    text-align: center;
  }

  &__thanks {
    min-height: 140px;
  }

  .error {
    border: 1px solid #ff0000;
  }

  label.error {
    border: none;
    margin-bottom: 15px;
    text-align: center;
  }
}
